venv/
.env
diarydad-main.json
__pycache__/
instance/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
*.egg-info/
uploads/profile_pics/*
!uploads/profile_pics/.gitkeep
uploads/diary_images/*
!uploads/diary_images/.gitkeep